
body{
  padding: 10px;
  background-color: black;
}

.parent{
  width: 100%;
  background-color: black;
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card{
  height: 280px;
  width: 250px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 4px 8px;
  font-size: 11px ;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: black;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid rgb(162, 162, 162);
  padding: 10px 0;
}

.center h3{
  font-size: 17px;
  font-weight: 500;
}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: gray;
}

.center .tag{
  display: flex;
  gap: 3px;
}

.center h2{
  font-size: 20px;
}

.center .tag h4{
  font-size: 15px;
  background-color: rgb(218, 218, 218);
  color:black;
  font-weight: 500px; 
  padding: 3px 7px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}

.bottom h3{
  font-size: 17px;
}
.bottom p{
  font-size: 10px;
  color: black;
}